/* #ef476f #ffd166 #06d6a0 #118ab2 #073b4c */
/* red     yellow  green   blue    navy    */
body {
    /* border: 1px solid black; */
    /* padding: 2%; */
    margin: 0;
    padding: 0;
    background-color: #EEF2FF;
}
header {
    color: #073b4c; 
    margin: auto;
    width: 30%;
}
nav {
    /* background-color: #073b4c;  */
    /* background-color: #0000EE; */
    background-color: #4267B2;
    width: 100%;
 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Georgia, serif;
    
} 

nav ul li {
    float: left;
} 

nav ul li a {
    display: block;
    padding: 8px;
    color: #ffffff; 
    /* color: #073b4c;  */
    text-decoration: none;
    /* Make sure that a:link and a:visited come before a:hover, and a:active comes last. This is essential to the cascading of the stylesheet. */
} 
nav ul li a:hover {
    color: #0000EE;
}
.row {
    
}



